.pad_name{
    text-align: center;
    padding:20px;
    font-size: 1.5em;
}
.pad_name input{
    margin-left: 10px;
    height:25px;
    border-radius: 10px;
}
.pad_name input[type="text"]{
    vertical-align: middle;
    padding:5px;
}
.pad_name label{
    display: inline-block;
}
.draw_main{
    display: flex;
    justify-content: flex-start;
    padding:20px;
    margin-top: 10px;
}
.draw_tools{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-color:rgb(238, 231, 101);
    border-radius: 20px;
    margin:20px;
    /* width:100px; */
    padding:10px;
}
.draw_tools .svg-inline--fa{
    padding:20px;
    font-size: 2em;
    border-radius: 20px;
}
.canvas{
    background-color:rgb(201, 220, 235);
    width:90%;
    border-radius: 20px;
    padding: 10px;
}
.draw_tools .svg-inline--fa:hover{
    color:white;
    background-color: bisque;
    cursor:pointer;
}
.draw_tools .svg-inline--fa:active{
    cursor: wait;
}
.tooltip {
    position: relative;
    display: inline-block;
  }

  .tooltip .tooltiptext {
    visibility: hidden;
    width: 60px;
    background-color: #555;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 80%;
    margin-left: -60px;
    opacity: 0;
    transition: opacity 0.3s;
  }
  
  .tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
  }

  .tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
  }